In [1]:
import numpy as np
import pandas as pd
import nltk
from nltk import word_tokenize
import spacy
from spacy import displacy
import string
import seaborn as sb
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../abcnews-date-text.csv', parse_dates=[0], infer_datetime_format=True)
df.head()

  publish_date                                      headline_text
0   2003-02-19  aba decides against community broadcasting lic...
1   2003-02-19     act fire witnesses must be aware of defamation
2   2003-02-19     a g calls for infrastructure protection summit
3   2003-02-19           air nz staff in aust strike for pay rise
4   2003-02-19      air nz strike to affect australian travellers

In [3]:
df.shape

(1244184, 2)

In [4]:
df = df.drop_duplicates(subset='headline_text', keep='first')

In [5]:
text = df['headline_text']
print(type(text))
print(text.shape)

<class 'pandas.core.series.Series'>
(1213004,)

In [6]:
text[0:10]

/var/folders/b2/_68m8r0j7rqg0k17ytq7jtc80000gn/T/ipykernel_1497/3862757789.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  text[0:10]

0    aba decides against community broadcasting lic...
1       act fire witnesses must be aware of defamation
2       a g calls for infrastructure protection summit
3             air nz staff in aust strike for pay rise
4        air nz strike to affect australian travellers
5                    ambitious olsson wins triple jump
6           antic delighted with record breaking barca
7    aussie qualifier stosur wastes four memphis match
8         aust addresses un security council over iraq
9           australia is locked into war timetable opp
Name: headline_text, dtype: object

In [7]:
type(text[0])

str

## POS with spaCy

In [8]:
from dframcy import DframCy

nlp = spacy.load("en_core_web_sm")
dframcy = DframCy(nlp)

In [9]:
docs = list(nlp.pipe(text))

In [10]:
# columns = ['ID', 'Text', 'Token', 'Lemma', 'POS', 'POS Tag', 'Dep', 'Is_stop']

In [11]:
# annotation = pd.DataFrame(columns = columns)
# annotation

Empty DataFrame
Columns: [ID, Text, Token, Lemma, POS, POS Tag, Dep, Is_stop]
Index: []

In [12]:
# count = 0
# for txt_idx, doc in enumerate(docs):
#     for token in doc:
#         annotation.loc[count] = {'ID': txt_idx, 'Text': doc.text, 'Token': token.text, 
#                                  'Lemma': token.lemma_, 'POS': token.pos_, 'POS Tag': token.tag_, 
#                                  'Dep': token.dep_, 'Is_stop': token.is_stop}
#         count += 1

In [15]:
pred_tags = [[(token.text, token.tag_) for token in doc] for doc in docs]

In [19]:
len(pred_tags) == len(df)

True

In [20]:
#saving pred_tags
import pickle

with open('../Output/pred_tags_spacy', 'wb') as fp:
    pickle.dump(pred_tags, fp)