In [1]:
import numpy as np
import pandas as pd
import nltk
from nltk import word_tokenize
import spacy
from spacy import displacy
import string
import seaborn as sb
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../wiki_movie_plots_deduped.csv')
df.head()

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr..."
1,1901,Love by the Light of the Moon,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov..."
2,1901,The Martyred Presidents,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed..."
3,1901,"Terrible Teddy, the Grizzly King",American,Unknown,NaN,unknown,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...
4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,unknown,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...

In [3]:
df.shape

(34886, 8)

In [4]:
df = df.drop_duplicates(subset='Plot', keep='first')

In [5]:
df.shape

(33869, 8)

In [6]:
text = df['Plot']
print(type(text))
print(text.shape)

<class 'pandas.core.series.Series'>
(33869,)

In [7]:
text[0:10]

/var/folders/b2/_68m8r0j7rqg0k17ytq7jtc80000gn/T/ipykernel_1504/3862757789.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  text[0:10]

0    A bartender is working at a saloon, serving dr...
1    The moon, painted with a smiling face hangs ov...
2    The film, just over a minute long, is composed...
3    Lasting just 61 seconds and consisting of two ...
4    The earliest known adaptation of the classic f...
5    Alice follows a large white rabbit down a "Rab...
6    The film opens with two bandits breaking into ...
7    The film is about a family who move to the sub...
8    The opening scene shows the interior of the ro...
9    Scenes are introduced using lines of the poem....
Name: Plot, dtype: object

## POS with spaCy

In [8]:
nlp = spacy.load("en_core_web_sm")

In [9]:
docs = list(nlp.pipe(text))

In [10]:
# columns = ['ID', 'Text', 'Token', 'Lemma', 'POS', 'POS Tag', 'Dep', 'Is_stop']

In [11]:
# annotation = pd.DataFrame(columns = columns)
# annotation

Empty DataFrame
Columns: [ID, Text, Token, Lemma, POS, POS Tag, Dep, Is_stop]
Index: []

In [12]:
# count = 0
# for txt_idx, doc in enumerate(docs):
#     for token in doc:
#         annotation.loc[count] = {'ID': txt_idx, 'Text': doc.text, 'Token': token.text, 
#                                  'Lemma': token.lemma_, 'POS': token.pos_, 'POS Tag': token.tag_, 
#                                  'Dep': token.dep_, 'Is_stop': token.is_stop}
#         count += 1

In [13]:
pred_tags = [[(token.text, token.tag_) for token in doc] for doc in docs]

In [14]:
len(pred_tags) == len(df)

True

In [16]:
pred_tags[0]

[('A', 'DT'),
 ('bartender', 'NN'),
 ('is', 'VBZ'),
 ('working', 'VBG'),
 ('at', 'IN'),
 ('a', 'DT'),
 ('saloon', 'NN'),
 (',', ','),
 ('serving', 'VBG'),
 ('drinks', 'NNS'),
 ('to', 'IN'),
 ('customers', 'NNS'),
 ('.', '.'),
 ('After', 'IN'),
 ('he', 'PRP'),
 ('fills', 'VBZ'),
 ('a', 'DT'),
 ('stereotypically', 'RB'),
 ('Irish', 'JJ'),
 ('man', 'NN'),
 ("'s", 'POS'),
 ('bucket', 'NN'),
 ('with', 'IN'),
 ('beer', 'NN'),
 (',', ','),
 ('Carrie', 'NNP'),
 ('Nation', 'NNP'),
 ('and', 'CC'),
 ('her', 'PRP$'),
 ('followers', 'NNS'),
 ('burst', 'VBP'),
 ('inside', 'RB'),
 ('.', '.'),
 ('They', 'PRP'),
 ('assault', 'VBP'),
 ('the', 'DT'),
 ('Irish', 'JJ'),
 ('man', 'NN'),
 (',', ','),
 ('pulling', 'VBG'),
 ('his', 'PRP$'),
 ('hat', 'NN'),
 ('over', 'IN'),
 ('his', 'PRP$'),
 ('eyes', 'NNS'),
 ('and', 'CC'),
 ('then', 'RB'),
 ('dumping', 'VBG'),
 ('the', 'DT'),
 ('beer', 'NN'),
 ('over', 'IN'),
 ('his', 'PRP$'),
 ('head', 'NN'),
 ('.', '.'),
 ('The', 'DT'),
 ('group', 'NN'),
 ('then', 'RB'),
 ('begin', 'VB'),
 ('wrecking', 'VBG'),
 ('the', 'DT'),
 ('bar', 'NN'),
 (',', ','),
 ('smashing', 'VBG'),
 ('the', 'DT'),
 ('fixtures', 'NNS'),
 (',', ','),
 ('mirrors', 'NNS'),
 (',', ','),
 ('and', 'CC'),
 ('breaking', 'VBG'),
 ('the', 'DT'),
 ('cash', 'NN'),
 ('register', 'NN'),
 ('.', '.'),
 ('The', 'DT'),
 ('bartender', 'NN'),
 ('then', 'RB'),
 ('sprays', 'VBZ'),
 ('seltzer', 'NN'),
 ('water', 'NN'),
 ('in', 'IN'),
 ('Nation', 'NNP'),
 ("'s", 'POS'),
 ('face', 'NN'),
 ('before', 'IN'),
 ('a', 'DT'),
 ('group', 'NN'),
 ('of', 'IN'),
 ('policemen', 'NNS'),
 ('appear', 'VBP'),
 ('and', 'CC'),
 ('order', 'VB'),
 ('everybody', 'NN'),
 ('to', 'TO'),
 ('leave.[1', 'VB'),
 (']', '-RRB-')]

In [15]:
#saving pred_tags
import pickle

with open('../Output/pred_tags_spacy', 'wb') as fp:
    pickle.dump(pred_tags, fp)